div.body-container {
    margin-top: 20px;
}

div.filter-container, div.detail-container {
    margin-top: 100px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.select-option, .type-option {
    text-transform: capitalize;
}

.card-list {
    margin-bottom: 20px;
}

.card-list .card:hover{
    cursor: pointer;
}

.img-pokemon{
    width: 140px;
    height: 140px;
}

h5.card-title{
    margin-bottom: 0;
    text-transform: capitalize;
}

.detail-title {
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 0;
}

.body-content {
    text-transform: capitalize;
}

.stats {
    margin-top: 20px;
}
